[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
bpmappers = "*"
gunicorn = "==19.9.0"
uwsgi = "*"
django-environ = "*"

[requires]
python_version = "3.7"
