{% extends 'main/base.html' %}
{% load static %}

{% block title %}
<title>Kakeibo</title>
{% endblock %}

{% block content %}
<link href="{% static 'main/css/kakeibo.css' %}" rel="stylesheet"></link>
<nav class="uk-navbar-container uk-margin-bottom" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Kakeibo</a>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="sign-in"></span>
                    ログイン
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="uk-container">
    <form id='form'>
        {% csrf_token %}
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-5@s">
                <label for="date">日付</label>
                <input class="uk-input date" type="text" id="date" required>
            </div>
            <div class="uk-width-1-5@s">
                <label for="item-name">項目名</label>
                <input class="uk-input" type="text" id="item-name" required>
            </div>
            <div class="uk-width-1-5@s">
                <label for="inout">収入・支出</label>
                <select class="uk-select" id="inout">
                    <option>支出</option>
                    <option>収入</option>
                </select>
            </div>
            <div class="uk-width-1-5@s">
                <label for="amount">金額（円）</label>
                <input class="uk-input" type="number" id="amount" pattern="[1-9][0-9]*" required>
            </div>
            <div class="uk-width-1-5@s button-wrap">
                <button class="uk-button uk-button-primary" id="add" type='submit'>追加</button>
            </div>
        </div>
    </form>
    <div class="uk-grid-small uk-margin-top" uk-grid>
        <table class="uk-table uk-table-divider uk-table-justify uk-width-1-2">
            <caption class="uk-margin-bottom">今月の収入</caption>
            <thead>
                <tr>
                    <th>日付</th>
                    <th>項目名</th>
                    <th>金額（円）</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id='table'>
                    {% for item in item_list %}
                    {% if item.inout == '収入' %}
                        <tr>
                            <td>{{ item.date }}</td>
                            <td>{{ item.name }}</td>
                            <td class='in-amount'>{{ item.amount }}</td>
                            <td><button class="uk-button uk-button-danger delete" data-number="{{ item.pk }}">削除</button></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td>合計</td>
                    <td id="in-sum">{{ in_tot }}</td>
                    <td></td>
                </tfoot>
        </table>
        <table class="uk-table uk-table-divider uk-table-justify uk-width-1-2">
            <caption class="uk-margin-bottom">今月の支出</caption>
            <thead>
                <tr>
                    <th>日付</th>
                    <th>項目名</th>
                    <th>金額（円）</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id='table'>
                    {% for item in item_list %}
                    {% if item.inout == '支出' %}
                        <tr>
                            <td>{{ item.date }}</td>
                            <td>{{ item.name }}</td>
                            <td class="out-amount">{{ item.amount }}</td>
                            <td><button class="uk-button uk-button-danger delete" data-number="{{ item.pk }}">削除</button></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td>合計</td>
                    <td id="out-sum"></td>
                    <td></td>
                </tfoot>
        </table>
    </div>
    <div class="uk-margin-auto" style="width:600px;">
        <canvas id="chart"></canvas>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(".date").flatpickr();
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
<script src="{% static 'main/js/kakeibo.js' %}"></script>
<script src="{% static 'main/js/graph.js' %}"></script>
{% endblock %}