{% extends 'main/base.html' %}
{% load static %}

{% block title %}
<title>Kakeibo</title>
{% endblock %}

{% block content %}
<link href="{% static 'main/css/kakeibo.css' %}" rel="stylesheet"></link>
<div class="uk-container uk-margin-top">
    <div class="uk-width-1-4@s" style='display: inline-block;'>
        <input class="uk-input" type="month" id="select-month">
    </div>
    <span>の収支</span>
    <div class="uk-margin-top" uk-grid>
        <!-- Graph -->
        <div class="uk-width-auto@m uk-margin-right">
            <ul uk-tab>
                <li><a href="#">収入・支出の推移</a></li>
                <li><a href="#">支出の内訳</a></li>
            </ul>
            <ul class="uk-switcher" style="width:750px;">
                <li>
                    <canvas id="bar-chart"></canvas>
                </li>
                <li>
                    <canvas id="pie-chart"></canvas>
                </li>
            </ul>
        </div>
        <div id="add-item" class="uk-card uk-card-default uk-card-body uk-width-1-3@m">
            <form id='form'>
                {% csrf_token %}
                <div>
                    <div>
                        <label for="date">日付</label>
                        <input class="uk-input date" type="text" id="date" required>
                    </div>
                    <div>
                        <label for="item-name">項目名</label>
                        <input class="uk-input" type="text" id="item-name" required>
                    </div>
                    <div>
                        <label for="category">カテゴリ</label>
                        <select class="uk-select" id="category">
                            <option>食費</option>
                            <option>日用雑貨</option>
                            <option>交通</option>
                            <option>通信</option>
                            <option>水道・光熱</option>
                            <option>住まい</option>
                            <option>交際費</option>
                            <option>エンタメ</option>
                            <option>教育・教養</option>
                            <option>税金</option>
                            <option>その他</option>
                        </select>
                    </div>
                    <div>
                        <label for="inout">収入・支出</label>
                        <select class="uk-select" id="inout">
                            <option>支出</option>
                            <option>収入</option>
                        </select>
                    </div>
                    <div>
                        <label for="amount">金額（円）</label>
                        <input class="uk-input" type="number" id="amount" pattern="[1-9][0-9]*" required>
                    </div>
                    <div>
                        <button class="uk-button uk-button-primary uk-margin-top" id="add" type='submit'>追加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        <ul uk-tab>
            <li><a href="#">収入</a></li>
            <li><a href="#">支出</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li>
                <h4>合計 : <span id='in-sum'></span>円</h4>
                <table class="uk-table uk-table-divider uk-table-justify" id='inTable'>
                    <thead>
                        <tr>
                            <th>日付</th>
                            <th>項目名</th>
                            <th>カテゴリ</th>
                            <th>金額（円）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </li>
            <li>
                <h4>合計: <span id='out-sum'></span>円</h4>
                <table class="uk-table uk-table-divider uk-table-justify" id='outTable'>
                    <thead>
                        <tr>
                            <th>日付</th>
                            <th>項目名</th>
                            <th>カテゴリ</th>
                            <th>金額（円）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </li>
        </ul>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(".date").flatpickr();
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
<script src="{% static 'main/js/kakeibo.js' %}"></script>
{% endblock %}